#memory_board {
  background: #d8d8d8;
  width: 900px;
  height: 540px;
  padding: 24px;
  margin: 0px auto;
  margin-top: 50px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}

#memory_board > div {
  background: url('https://thumbs.dreamstime.com/z/canary-bird-yellow-feather-green-background-flat-design-style-vector-illustration-68955780.jpg') no-repeat;
  background-size: cover;
  width: 105px;
  height: 105px;
  float: left;
  margin: 10px;
  padding: 20px;
  font-size: 64px;
  cursor: pointer;
  text-align: center;
  display: flex;
  justify-content: center;
}

.pageTitle {
  text-align: center;
  margin-top: 30px;
  color: #6666ff;
}

.tileContainer {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #6666ff;
  border-radius: 6px;
}

.pageContainer {
  display: flex;
  justify-content: center;
}






.gameDescription {
  text-align: center;
  color: #808080;
  padding-top: 10px;

}
